@model Carros.Models.ConsumoCombustivel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Consumo de Combustível</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroDeSerie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroDeSerie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacidade) Litros
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Portador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Portador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CombustivelAtual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CombustivelAtual) Litros
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NumeroDeSerie">Atualizar</a> |
    <a asp-action="Index">Voltar a lista</a>
</div>
