@model IEnumerable<Carros.Models.ConsumoCombustivel>

@{
    ViewData["Title"] = "Index";
}

<h1>Carros</h1>

<p>
    <a asp-action="Create">Novo Registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroDeSerie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Portador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CombustivelAtual)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDeSerie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidade) Litros
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Portador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CombustivelAtual) Litros
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NumeroDeSerie">Atualizar</a> |
                <a asp-action="Details" asp-route-id="@item.NumeroDeSerie">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.NumeroDeSerie">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
